.plans {
  padding-top: rem(150);

  &__body {
    display: flex;
    margin: 0 -24px;
  }

  &__btn {
    &::before {
      content: "";
      position: absolute;
      top: -2px;
      left: -2px;
      right: -2px;
      bottom: -2px;
      background-color: rgb(91, 97, 103);
      z-index: -1;

      transform: scaleY(0);
      transform-origin: bottom;
      transition: all var(--hover-transition);
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: rem(64) 0;
    border-radius: rem(33);
    margin: 0 24px;
    width: calc(100% / 3 - 48px);
    background-color: var(--bone);

    &:hover {
      box-shadow: 0px 10px 20px 0px rgba(136, 136, 136, 0.25);
      transition: var(--hover-transition);

      .plans__price {
        span {
          color: var(--clay);
        }
      }

      .plans__btn::before {
        transform: scaleY(1);

      }
    }

    span {
      transition: color var(--hover-transition);
    }

    a {
      margin-top: rem(28);
    }

    ul {
      text-align: center;
      list-style: none;
      margin-top: rem(28);

      li {
        color: var(--grey);
        font-size: 20px;
        font-weight: 400;
        line-height: 250%;
        letter-spacing: 0.2px;
      }
    }

  }

  &__popular {
    width: fit-content;
    position: absolute;
    bottom: rem(-21);
    left: 50%;
    transform: translate(-50%);
    font-family: Jost;
    background-color: var(--dark-blue);
    white-space: nowrap;
    border-radius: rem(18);
    padding: rem(10) rem(38);
    font-size: rem(18) !important;
    color: var(--white);
    font-weight: 600;
    line-height: 125%;
    letter-spacing: 0.36px;
  }

  &__price {
    margin-top: rem(25);
    width: 100%;
    color: var(--grey);
    text-align: center;
    font-family: DM Serif Display;
    font-size: rem(25);
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.25px;
    padding-bottom: rem(37);
    border-bottom: 1px solid var(--clay);


    span {
      color: #292F36;
      font-family: DM Serif Display;
      font-size: rem(85);
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      letter-spacing: 0.85px;
    }

    &-best {
      position: relative;
      border-bottom: 1px solid var(--dark-blue);
    }
  }

}
