.video {
  padding-top: rem(150);

  &__img {
    position: relative;
    max-width: rem(600);
    width: 100%;
    border-radius: rem(70);
    overflow: hidden;

    &::before {
      content: '';
      display: block;
      width: 100%;
      padding-top: 63%;
    }

    & > * {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-player {
      max-width: rem(1200);

      &::before {
        padding-top: 31.2%;
      }
    }

    &:hover {
      .video__player {
        width: rem(145);
        height: rem(145);
      }
    }
  }

  &__player {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: rem(132);
    height: rem(132);
    background-color: var(--white);
    border-radius: 50%;
    transition: width var(--hover-transition), height var(--hover-transition);

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    margin-top: rem(150);
    display: flex;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 50%;
      top: 15%;
      width: rem(1);
      height: 70%;
      background-color: #CECECE;
    }
  }

  &__block {
    div {
      margin-left: rem(-10);
    }

    width: rem(435);
    margin-left: rem(93);
    margin-right: rem(83);

    ul {
      margin-top: rem(23);

      li {
        color: var(--grey);
        padding-left: rem(15);
        counter-increment: li;

        &:not(:first-child) {
          margin-top: rem(15);
        }
      }

      li::marker {
        color: var(--clay);
        font-family: DM Serif Display;
        font-size: rem(20);
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        letter-spacing: 0.4px;
        content: counter(li);
      }
    }
  }

  &__link {
    margin-top: rem(150);
    display: flex;
    justify-content: space-between;
  }

  &__context {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: rem(518);

    > :first-child {
      margin-bottom: rem(11);
    }

    a {
      margin-top: rem(32);
    }
  }
}
