<section class="create">
  <div class="container">
    <div class="create__body">
      <div class="create__text">
        <div class="title-2"><h2>We Create The Art OF Stylish Living Stylishly</h2></div>
        <div class="description description-large create__description"><p>It is a long established fact that a reader
          will be distracted by
          the of readable
          content of a page
          when lookings at its layouts the points of using
          that it has a more-or-less normal.</p></div>
        <div class="create__phone">
          <div class="create__icon">
            <img src="img/call-icon.svg" alt="">
          </div>
          <a href="tel:012345678" class="create__number">
            <span class="style-bold">012345678</span>
            Call Us Anytime
          </a>
        </div>
        <a href="/" class="btn btn-small btn-hover">Get Free Estimate <img src="img/btn-arrow-clay.svg" alt=""></a>
      </div>
      <div class="create__img">
        <img src="img/create-bg.png" alt="">
      </div>
    </div>
  </div>
</section>
