<section class="examples">
  <div class="container">
    <div class="examples__body">
      <ul class="examples__navigate">
        <li>
          <button class="examples__btn show" data-number="1">Bathroom</button>
        </li>
        <li>
          <button class="examples__btn" data-number="2">Bed Room</button>
        </li>
        <li>
          <button class="examples__btn" data-number="3">Kitchen</button>
        </li>
        <li>
          <button class="examples__btn" data-number="4">Living Area</button>
        </li>
      </ul>
      <div class="examples__products">
        <div class="examples__wrapper show" data-number="1">
          <div class="examples__column">
            <div class="examples__block">
              <a href="/" class="examples__link"></a>
              <div class="examples__img examples__img-small">
                <img src="img/product-img3.png" alt="">
              </div>
              <div class="examples__description">
                <div class="examples__name">
                  <div class="title-4"><h4>Classic Minimal Bedroom</h4></div>
                  <div class="description description-large"><p>Decor / Architecture</p></div>
                </div>
                <div class="examples__arrow">
                  <svg xmlns="http://www.w3.org/2000/svg" width="52" height="53" viewBox="0 0 52 53" fill="none">
                    <path d="M23.771 32.9529L29.7139 26.2672L23.771 19.5815" stroke="#292F36" stroke-width="2"
                          stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </div>
              </div>
            </div>
            <div class="examples__block">
              <a href="/" class="examples__link"></a>
              <div class="examples__img examples__img-big">
                <img src="img/product-img5.png" alt="">
              </div>
              <div class="examples__description">
                <div class="examples__name">
                  <div class="title-4"><h4>Minimal Bedroom table</h4></div>
                  <div class="description description-large"><p>Decor / Architecture</p></div>
                </div>
                <div class="examples__arrow">
                  <svg xmlns="http://www.w3.org/2000/svg" width="52" height="53" viewBox="0 0 52 53" fill="none">
                    <path d="M23.771 32.9529L29.7139 26.2672L23.771 19.5815" stroke="#292F36" stroke-width="2"
                          stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </div>
              </div>
            </div>
            <div class="examples__block">
              <a href="/" class="examples__link"></a>
              <div class="examples__img examples__img-small">
                <img src="img/product-img7.png" alt="">
              </div>
              <div class="examples__description">
                <div class="examples__name">
                  <div class="title-4"><h4>Modern Medroom</h4></div>
                  <div class="description description-large"><p>Decor / Architecture</p></div>
                </div>
                <div class="examples__arrow">
                  <svg xmlns="http://www.w3.org/2000/svg" width="52" height="53" viewBox="0 0 52 53" fill="none">
                    <path d="M23.771 32.9529L29.7139 26.2672L23.771 19.5815" stroke="#292F36" stroke-width="2"
                          stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </div>
              </div>
            </div>
            <div class="examples__block">
              <a href="/" class="examples__link"></a>
              <div class="examples__img examples__img-small">
                <img src="img/product-img8.png" alt="">
              </div>
              <div class="examples__description">
                <div class="examples__name">
                  <div class="title-4"><h4>Minimal Bedroom</h4></div>
                  <div class="description description-large"><p>Decor / Architecture</p></div>
                </div>
                <div class="examples__arrow">
                  <svg xmlns="http://www.w3.org/2000/svg" width="52" height="53" viewBox="0 0 52 53" fill="none">
                    <path d="M23.771 32.9529L29.7139 26.2672L23.771 19.5815" stroke="#292F36" stroke-width="2"
                          stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <div class="examples__column">
            <div class="examples__block">
              <a href="/" class="examples__link"></a>
              <div class="examples__img examples__img-small">
                <img src="img/product-img2.png" alt="">
              </div>
              <div class="examples__description">
                <div class="examples__name">
                  <div class="title-4"><h4>Minimal Bedroom</h4></div>
                  <div class="description description-large"><p>Decor / Architecture</p></div>
                </div>
                <div class="examples__arrow">
                  <svg xmlns="http://www.w3.org/2000/svg" width="52" height="53" viewBox="0 0 52 53" fill="none">
                    <path d="M23.771 32.9529L29.7139 26.2672L23.771 19.5815" stroke="#292F36" stroke-width="2"
                          stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </div>
              </div>
            </div>
            <div class="examples__block">
              <a href="/" class="examples__link"></a>
              <div class="examples__img examples__img-big">
                <img src="img/product-img4.png" alt="">
              </div>
              <div class="examples__description">
                <div class="examples__name">
                  <div class="title-4"><h4>Minimal Bedroom</h4></div>
                  <div class="description description-large"><p>Decor / Architecture</p></div>
                </div>
                <div class="examples__arrow">
                  <svg xmlns="http://www.w3.org/2000/svg" width="52" height="53" viewBox="0 0 52 53" fill="none">
                    <path d="M23.771 32.9529L29.7139 26.2672L23.771 19.5815" stroke="#292F36" stroke-width="2"
                          stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </div>
              </div>
            </div>
            <div class="examples__block">
              <a href="/" class="examples__link"></a>
              <div class="examples__img examples__img-small">
                <img src="img/product-img6.png" alt="">
              </div>
              <div class="examples__description">
                <div class="examples__name">
                  <div class="title-4"><h4>System Table</h4></div>
                  <div class="description description-large"><p>Decor / Architecture</p></div>
                </div>
                <div class="examples__arrow">
                  <svg xmlns="http://www.w3.org/2000/svg" width="52" height="53" viewBox="0 0 52 53" fill="none">
                    <path d="M23.771 32.9529L29.7139 26.2672L23.771 19.5815" stroke="#292F36" stroke-width="2"
                          stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="examples__wrapper" data-number="2">
          <div class="examples__column">
            <div class="examples__block">
              <a href="/" class="examples__link"></a>
              <div class="examples__img examples__img-big">
                <img src="img/product-img1.png" alt="">
              </div>
              <div class="examples__description">
                <div class="examples__name">
                  <div class="title-4"><h4>Minimal Bedroom</h4></div>
                  <div class="description description-large"><p>Decor / Architecture</p></div>
                </div>
                <div class="examples__arrow">
                  <svg xmlns="http://www.w3.org/2000/svg" width="52" height="53" viewBox="0 0 52 53" fill="none">
                    <path d="M23.771 32.9529L29.7139 26.2672L23.771 19.5815" stroke="#292F36" stroke-width="2"
                          stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <div class="examples__column">
            <div class="examples__block">
              <a href="/" class="examples__link"></a>
              <div class="examples__img examples__img-small">
                <img src="img/product-img2.png" alt="">
              </div>
              <div class="examples__description">
                <div class="examples__name">
                  <div class="title-4"><h4>Minimal Bedroom</h4></div>
                  <div class="description description-large"><p>Decor / Architecture</p></div>
                </div>
                <div class="examples__arrow">
                  <svg xmlns="http://www.w3.org/2000/svg" width="52" height="53" viewBox="0 0 52 53" fill="none">
                    <path d="M23.771 32.9529L29.7139 26.2672L23.771 19.5815" stroke="#292F36" stroke-width="2"
                          stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="examples__wrapper" data-number="3">
          <div class="examples__column">
            <div class="examples__block">
              <a href="/" class="examples__link"></a>
              <div class="examples__img examples__img-big">
                <img src="img/product-img1.png" alt="">
              </div>
              <div class="examples__description">
                <div class="examples__name">
                  <div class="title-4"><h4>Minimal Bedroom</h4></div>
                  <div class="description description-large"><p>Decor / Architecture</p></div>
                </div>
                <div class="examples__arrow">
                  <svg xmlns="http://www.w3.org/2000/svg" width="52" height="53" viewBox="0 0 52 53" fill="none">
                    <path d="M23.771 32.9529L29.7139 26.2672L23.771 19.5815" stroke="#292F36" stroke-width="2"
                          stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </div>
              </div>
            </div>
            <div class="examples__block">
              <a href="/" class="examples__link"></a>
              <div class="examples__img examples__img-big">
                <img src="img/product-img1.png" alt="">
              </div>
              <div class="examples__description">
                <div class="examples__name">
                  <div class="title-4"><h4>Minimal Bedroom</h4></div>
                  <div class="description description-large"><p>Decor / Architecture</p></div>
                </div>
                <div class="examples__arrow">
                  <svg xmlns="http://www.w3.org/2000/svg" width="52" height="53" viewBox="0 0 52 53" fill="none">
                    <path d="M23.771 32.9529L29.7139 26.2672L23.771 19.5815" stroke="#292F36" stroke-width="2"
                          stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </div>
              </div>
            </div>

          </div>
          <div class="examples__column">
            <div class="examples__block">
              <a href="/" class="examples__link"></a>
              <div class="examples__img examples__img-small">
                <img src="img/product-img2.png" alt="">
              </div>
              <div class="examples__description">
                <div class="examples__name">
                  <div class="title-4"><h4>Minimal Bedroom</h4></div>
                  <div class="description description-large"><p>Decor / Architecture</p></div>
                </div>
                <div class="examples__arrow">
                  <svg xmlns="http://www.w3.org/2000/svg" width="52" height="53" viewBox="0 0 52 53" fill="none">
                    <path d="M23.771 32.9529L29.7139 26.2672L23.771 19.5815" stroke="#292F36" stroke-width="2"
                          stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </div>
              </div>
            </div>
            <div class="examples__block">
              <a href="/" class="examples__link"></a>
              <div class="examples__img examples__img-small">
                <img src="img/product-img3.png" alt="">
              </div>
              <div class="examples__description">
                <div class="examples__name">
                  <div class="title-4"><h4>Classic Minimal Bedroom</h4></div>
                  <div class="description description-large"><p>Decor / Architecture</p></div>
                </div>
                <div class="examples__arrow">
                  <svg xmlns="http://www.w3.org/2000/svg" width="52" height="53" viewBox="0 0 52 53" fill="none">
                    <path d="M23.771 32.9529L29.7139 26.2672L23.771 19.5815" stroke="#292F36" stroke-width="2"
                          stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="examples__wrapper" data-number="4">
          <div class="examples__column">
            <div class="examples__block">
              <a href="/" class="examples__link"></a>
              <div class="examples__img examples__img-big">
                <img src="img/product-img1.png" alt="">
              </div>
              <div class="examples__description">
                <div class="examples__name">
                  <div class="title-4"><h4>Minimal Bedroom</h4></div>
                  <div class="description description-large"><p>Decor / Architecture</p></div>
                </div>
                <div class="examples__arrow">
                  <svg xmlns="http://www.w3.org/2000/svg" width="52" height="53" viewBox="0 0 52 53" fill="none">
                    <path d="M23.771 32.9529L29.7139 26.2672L23.771 19.5815" stroke="#292F36" stroke-width="2"
                          stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </div>
              </div>
            </div>
            <div class="examples__block">
              <a href="/" class="examples__link"></a>
              <div class="examples__img examples__img-small">
                <img src="img/product-img3.png" alt="">
              </div>
              <div class="examples__description">
                <div class="examples__name">
                  <div class="title-4"><h4>Classic Minimal Bedroom</h4></div>
                  <div class="description description-large"><p>Decor / Architecture</p></div>
                </div>
                <div class="examples__arrow">
                  <svg xmlns="http://www.w3.org/2000/svg" width="52" height="53" viewBox="0 0 52 53" fill="none">
                    <path d="M23.771 32.9529L29.7139 26.2672L23.771 19.5815" stroke="#292F36" stroke-width="2"
                          stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <div class="examples__column">
            <div class="examples__block">
              <a href="/" class="examples__link"></a>
              <div class="examples__img examples__img-small">
                <img src="img/product-img6.png" alt="">
              </div>
              <div class="examples__description">
                <div class="examples__name">
                  <div class="title-4"><h4>System Table</h4></div>
                  <div class="description description-large"><p>Decor / Architecture</p></div>
                </div>
                <div class="examples__arrow">
                  <svg xmlns="http://www.w3.org/2000/svg" width="52" height="53" viewBox="0 0 52 53" fill="none">
                    <path d="M23.771 32.9529L29.7139 26.2672L23.771 19.5815" stroke="#292F36" stroke-width="2"
                          stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </div>
              </div>
            </div>
            <div class="examples__block">
              <a href="/" class="examples__link"></a>
              <div class="examples__img examples__img-small">
                <img src="img/product-img8.png" alt="">
              </div>
              <div class="examples__description">
                <div class="examples__name">
                  <div class="title-4"><h4>Minimal Bedroom</h4></div>
                  <div class="description description-large"><p>Decor / Architecture</p></div>
                </div>
                <div class="examples__arrow">
                  <svg xmlns="http://www.w3.org/2000/svg" width="52" height="53" viewBox="0 0 52 53" fill="none">
                    <path d="M23.771 32.9529L29.7139 26.2672L23.771 19.5815" stroke="#292F36" stroke-width="2"
                          stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="examples__pagination">
        <button class="examples__number"><span>01</span></button>
        <button class="examples__number"><span>02</span></button>
        <button class="examples__number"><span>03</span></button>
        <button class="examples__number">
          <svg xmlns="http://www.w3.org/2000/svg" width="52" height="53" viewBox="0 0 52 53" fill="none">
            <path d="M23.771 32.9529L29.7139 26.2672L23.771 19.5815" stroke="#292F36" stroke-width="2"
                  stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
