<section class="faq">
  <div class="container faq__container">
    <div class="faq__block">
      <div class="title-2 faq__title"><h2>Every Question Answered</h2></div>
      <div class="faq__body">
        <div class="faq__list">
          <div class="faq__line">
            <div class="faq__article">
              <div class="title-4 faq__title-line"><h4>What is the Hipcouch Interior Design Service?</h4></div>
              <div class="faq__icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="17" viewBox="0 0 8 17" fill="none">
                  <path d="M0.999526 15.1855L6.94238 8.49983L0.999525 1.81412" stroke="#292F36" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </div>
            </div>
            <div class="description description-large faq__text"><p>Lorem ipsum dolor sit amet, consectetur adipisicing
              elit. Aliquid at cumque dolorem eaque et explicabo, in magni mollitia natus non numquam obcaecati porro
              possimus quas quod ratione reiciendis sed suscipit tempore totam unde vitae voluptates voluptatum. A ab
              aperiam architecto asperiores atque delectus, deleniti doloremque dolorum earum esse facilis illo impedit
              inventore ipsum itaque laborum mollitia necessitatibus, nemo non numquam perferendis possimus quam quasi
              reiciendis rem sed totam unde vel velit voluptatibus? Animi aperiam, eaque exercitationem facere id, ipsam
              ipsum minima mollitia officiis praesentium provident, reiciendis repellendus totam vel vitae? Autem
              debitis dicta laborum nam necessitatibus non reprehenderit repudiandae veniam!</p></div>
          </div>
          <div class="faq__line">
            <div class="faq__article">
              <div class="title-4 faq__title-line"><h4>So,how exactly does this work?</h4></div>
              <div class="faq__icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="17" viewBox="0 0 8 17" fill="none">
                  <path d="M0.999526 15.1855L6.94238 8.49983L0.999525 1.81412" stroke="#292F36" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </div>
            </div>
            <div class="description description-large faq__text"><p>Lorem ipsum dolor sit amet, adipiscing Aliquam eu
              sem
              vitae turpmaximus.posuere in.Contrary popular belief.
              There are many variations of passages of Lorem Ipsum available, but the majority randomised.</p></div>
          </div>
          <div class="faq__line">
            <div class="faq__article">
              <div class="title-4 faq__title-line"><h4>What cities do you currently operate in?</h4></div>
              <div class="faq__icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="17" viewBox="0 0 8 17" fill="none">
                  <path d="M0.999526 15.1855L6.94238 8.49983L0.999525 1.81412" stroke="#292F36" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </div>
            </div>
            <div class="description description-large faq__text"><p>Lorem ipsum dolor sit amet, adipiscing Aliquam eu
              sem
              vitae turpmaximus.posuere in.Contrary popular belief.
              There are many variations of passages of Lorem Ipsum available, but the majority randomised.</p></div>
          </div>
          <div class="faq__line">
            <div class="faq__article">
              <div class="title-4 faq__title-line"><h4>Hipcouch Interior Design Service?</h4></div>
              <div class="faq__icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="17" viewBox="0 0 8 17" fill="none">
                  <path d="M0.999526 15.1855L6.94238 8.49983L0.999525 1.81412" stroke="#292F36" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </div>
            </div>
            <div class="description description-large faq__text"><p>Lorem ipsum dolor sit amet, adipiscing Aliquam eu
              sem
              vitae turpmaximus.posuere in.Contrary popular belief.
              There are many variations of passages of Lorem Ipsum available, but the majority randomised.</p></div>
          </div>
          <div class="faq__line">
            <div class="faq__article">
              <div class="title-4 faq__title-line"><h4>What kind of interior designers do you have?</h4></div>
              <div class="faq__icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="17" viewBox="0 0 8 17" fill="none">
                  <path d="M0.999526 15.1855L6.94238 8.49983L0.999525 1.81412" stroke="#292F36" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </div>
            </div>
            <div class="description description-large faq__text"><p>Lorem ipsum dolor sit amet, adipiscing Aliquam eu
              sem
              vitae turpmaximus.posuere in.Contrary popular belief.
              There are many variations of passages of Lorem Ipsum available, but the majority randomised.</p></div>
          </div>
        </div>
        <div class="faq__img"><img src="img/faq-img1.png" alt=""></div>
      </div>
    </div>
    <div class="faq__block">
      <div class="title-2 faq__title"><h2>Every Question Answered</h2></div>
      <div class="faq__body">
        <div class="faq__list">
          <div class="faq__line">
            <div class="faq__article">
              <div class="title-4 faq__title-line"><h4>What is the Hipcouch Interior Design Service?</h4></div>
              <div class="faq__icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="17" viewBox="0 0 8 17" fill="none">
                  <path d="M0.999526 15.1855L6.94238 8.49983L0.999525 1.81412" stroke="#292F36" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </div>
            </div>
            <div class="description description-large faq__text"><p>Lorem ipsum dolor sit amet, consectetur adipisicing
              elit. Aliquid at cumque dolorem eaque et explicabo, in magni mollitia natus non numquam obcaecati porro
              possimus quas quod ratione reiciendis sed suscipit tempore totam unde vitae voluptates voluptatum. A ab
              aperiam architecto asperiores atque delectus, deleniti doloremque dolorum earum esse facilis illo impedit
              inventore ipsum itaque laborum mollitia necessitatibus, nemo non numquam perferendis possimus quam quasi
              reiciendis rem sed totam unde vel velit voluptatibus? Animi aperiam, eaque exercitationem facere id, ipsam
              ipsum minima mollitia officiis praesentium provident, reiciendis repellendus totam vel vitae? Autem
              debitis dicta laborum nam necessitatibus non reprehenderit repudiandae veniam!</p></div>
          </div>
          <div class="faq__line">
            <div class="faq__article">
              <div class="title-4 faq__title-line"><h4>So,how exactly does this work?</h4></div>
              <div class="faq__icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="17" viewBox="0 0 8 17" fill="none">
                  <path d="M0.999526 15.1855L6.94238 8.49983L0.999525 1.81412" stroke="#292F36" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </div>
            </div>
            <div class="description description-large faq__text"><p>Lorem ipsum dolor sit amet, adipiscing Aliquam eu
              sem
              vitae turpmaximus.posuere in.Contrary popular belief.
              There are many variations of passages of Lorem Ipsum available, but the majority randomised.</p></div>
          </div>
          <div class="faq__line">
            <div class="faq__article">
              <div class="title-4 faq__title-line"><h4>What cities do you currently operate in?</h4></div>
              <div class="faq__icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="17" viewBox="0 0 8 17" fill="none">
                  <path d="M0.999526 15.1855L6.94238 8.49983L0.999525 1.81412" stroke="#292F36" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </div>
            </div>
            <div class="description description-large faq__text"><p>Lorem ipsum dolor sit amet, adipiscing Aliquam eu
              sem
              vitae turpmaximus.posuere in.Contrary popular belief.
              There are many variations of passages of Lorem Ipsum available, but the majority randomised.</p></div>
          </div>
          <div class="faq__line">
            <div class="faq__article">
              <div class="title-4 faq__title-line"><h4>Hipcouch Interior Design Service?</h4></div>
              <div class="faq__icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="17" viewBox="0 0 8 17" fill="none">
                  <path d="M0.999526 15.1855L6.94238 8.49983L0.999525 1.81412" stroke="#292F36" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </div>
            </div>
            <div class="description description-large faq__text"><p>Lorem ipsum dolor sit amet, adipiscing Aliquam eu
              sem
              vitae turpmaximus.posuere in.Contrary popular belief.
              There are many variations of passages of Lorem Ipsum available, but the majority randomised.</p></div>
          </div>
          <div class="faq__line">
            <div class="faq__article">
              <div class="title-4 faq__title-line"><h4>What kind of interior designers do you have?</h4></div>
              <div class="faq__icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="17" viewBox="0 0 8 17" fill="none">
                  <path d="M0.999526 15.1855L6.94238 8.49983L0.999525 1.81412" stroke="#292F36" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </div>
            </div>
            <div class="description description-large faq__text"><p>Lorem ipsum dolor sit amet, adipiscing Aliquam eu
              sem
              vitae turpmaximus.posuere in.Contrary popular belief.
              There are many variations of passages of Lorem Ipsum available, but the majority randomised.</p></div>
          </div>
        </div>
        <div class="faq__img"><img src="img/faq-img2.png" alt=""></div>
      </div>
    </div>
  </div>
</section>
