<footer class="footer">
  <div class="container">
    <div class="footer__body">
      <div class="footer__block">
        <div class="footer__img"><img src="img/logo.svg" alt=""></div>
        <div class="description footer__description"><p>It is a long established fact that a reader will be distracted
          lookings.</p></div>
        <ul class="media footer__icons">
          <li><a href="/"><img src="img/logo-facebook.svg" alt=""></a></li>
          <li><a href="/"><img src="img/logo-twitter.svg" alt=""></a></li>
          <li><a href="/"><img src="img/logo-linkedin.svg" alt=""></a></li>
          <li><a href="/"><img src="img/logo-instagram.svg" alt=""></a></li>
        </ul>
      </div>
      <ul class="footer__block">
        <li>
          <div class="title-4"><h4>Pages</h4></div>
        </li>
        <li><a href="/">About Us</a></li>
        <li><a href="/">Our Projects</a></li>
        <li><a href="/">Our Team</a></li>
        <li><a href="/">Contact Us</a></li>
        <li><a href="/">Services</a></li>
      </ul>
      <ul class="footer__block">
        <li>
          <div class="title-4"><h4>Services</h4></div>
        </li>
        <li><a href="/">Kitchen</a></li>
        <li><a href="/">Living Area</a></li>
        <li><a href="/">Bathroom</a></li>
        <li><a href="/">Dinning Hall</a></li>
        <li><a href="/">Bedroom</a></li>
      </ul>
      <ul class="footer__block">
        <li>
          <div class="title-4"><h4>Contact</h4></div>
        </li>
        <li>55 East Birchwood Ave. Brooklyn, New York 11201</li>
        <li><a href="malito:contact@interno.com">contact@interno.com</a></li>
        <li><a href="tel: (123) 456 - 7890"> (123) 456 - 7890</a></li>
      </ul>
    </div>
    <div class="footer__copyright">
      <div class="description"><p>Copyright © Interno | Designed by Victorflow Templates - Powered by Webflow</p></div>
    </div>
  </div>
</footer>



