<section class="home">
  <div class="container home__container">
    <div class="home__bg">
      <img src="img/home-bg.png" alt="">
    </div>
    <div class="home__body">
      <div class="heading"><h1>Let Your Home Be Unique</h1></div>
      <div class="description description-large"><p>There are many variations of the passages of lorem Ipsum
        fromavailable,variations of the passages.</p></div>
      <a href="/" class="btn btn-hover">Get Started <img src="img/btn-arrow-clay.svg" alt=""></a>
    </div>
  </div>
</section>
