<section class="info">
  <div class="container">
    <div class="info__main">
      <ul class="info__block">
        <li>
          <span>Client</span>
          <p>Your client name</p>
        </li>
        <li>
          <span>Category</span>
          <p>Interiors</p>
        </li>
        <li>
          <span>Tags</span>
          <p>Interior,Home</p>
        </li>
        <li>
          <span>Date</span>
          <p>Date 23,02,2022</p>
        </li>
        <li>
          <span>Link</span>
          <p>Link example.com</p>
        </li>
      </ul>
      <div class="info__text">
        <div class="title-2"><h2>Minimal Look Bedrooms</h2></div>
        <div class="description description-large"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Aliquamsem vitae turpis dignissim maximus. Aliquam sollicitudin tellumassa, vbel maximus purus posuere in.
          Dojrices gravida dignissim. Praesent at nibh in mi fringilla mattis. Phasellus ut dolor odio. Aenean in the
          ipsum vel lectus bibendum commodo.
          <br>
          <br>
          In nec sem suscipit, convallis leo vitae, lacinia nibh. Cras amet tellus lectus. Vivamus ipsum nunc, mattis
          quis nibh id, pellentesque arcu. Donec a pellentesque Cras erat enim, gravida non ante vitae,elequis convallis
          elit, in viverra felis. Donec ultrices tellus vitae iaculisvd porta. Proin tincidunt ligula id purus
          porttitor.</p></div>
      </div>
    </div>
    <div class="info__photo">
      <div class="info__img">
        <img src="img/info-img.png" alt="">
      </div>
      <img src="img/zoom-icon.svg" alt="">
    </div>
  </div>
</section>
