<section class="licenses">
  <div class="container">
    <div class="licenses__body">
      <div class="title-2"><h2>Photography</h2></div>
      <div class="description description-large"><p>
        All images used in the <span class="style-clay">Interno</span> Webflow Ecommerce Template are licensed for free
        personal and commercial use. If
        you'd like to use any specific image, you can check the licenses and download the images for free on <span
        class="style-bold">Unsplash,
                Pexels.</span>
      </p></div>
      <div class="quotes licenses__quotes">
        <div class="title-3"><h3>Unsplash</h3></div>
        <div class="description description-large"><p>Image 1, Image 2, Image 3, Image 4, Image 5, Image 6, Image 7,
          Image 8, Image 9, Image 10, Image 11, Image 12, Image 13, Image 14, Image 15, Image 16, Image 17.</p></div>
        <div class="licenses__gallery">
          <div class="licenses__img"><img src="img/licenses-img1.png" alt=""></div>
          <div class="licenses__img"><img src="img/licenses-img2.png" alt=""></div>
          <div class="licenses__img"><img src="img/licenses-img3.png" alt=""></div>
        </div>
      </div>
      <div class="quotes licenses__quotes">
        <div class="title-3"><h3>Pexels</h3></div>
        <div class="description description-large"><p>Image 1, Image 2, Image 3, Image 4, Image 5, Image 6, Image 7,
          Image 8, Image 9, Image 10, Image 11, Image 12.</p></div>
        <div class="licenses__gallery">
          <div class="licenses__img"><img src="img/licenses-img4.png" alt=""></div>
          <div class="licenses__img"><img src="img/licenses-img5.png" alt=""></div>
          <div class="licenses__img"><img src="img/licenses-img6.png" alt=""></div>
        </div>
      </div>
      <div class="quotes licenses__quotes licenses__quotes-fonts">
        <div class="title-3"><h3>Font</h3></div>
        <div class="licenses__line">
          <div class="description quotes licenses__block"><p>Interno template uses free licensed
            <span class="style-clay">Google Fonts</span>. Please
            check <span class="style-bold">DM Serif Display</span>
            and <span class="style-bold">Jost</span>.</p></div>
          <div class="licenses__block licenses__block-letters"><span>Aa</span><span>Aa</span></div>
        </div>
        <div class="title-3"><h3>Icon</h3></div>
        <div class="description"><p>Icon 1, Icon 2, Icon 3</p></div>
      </div>
    </div>
  </div>
</section>
