<section class="personal">
  <div class="container">
    <div class="personal__body">
      <div class="personal__card">
        <a href="/" class="link link-personal"></a>
        <div class="personal__img"><img src="img/staff-img1.png" alt=""></div>
        <div class="personal__name">
          <div class="title-4"><h4>Charlotte Levi</h4></div>
          <div class="description"><span>Design, Australia</span></div>
        </div>
        <ul class="media personal__links">
          <li><a href="/"><img src="img/logo-facebook.svg" alt=""></a></li>
          <li><a href="/"><img src="img/logo-twitter.svg" alt=""></a></li>
        </ul>
      </div>
      <div class="personal__card">
        <a href="/" class="link link-personal"></a>
        <div class="personal__img"><img src="img/staff-img2.png" alt=""></div>
        <div class="personal__name">
          <div class="title-4"><h4>Charlotte Levi</h4></div>
          <div class="description"><span>Design, Australia</span></div>
        </div>
        <ul class="media personal__links">
          <li><a href="/"><img src="img/logo-facebook.svg" alt=""></a></li>
          <li><a href="/"><img src="img/logo-twitter.svg" alt=""></a></li>
          <li><a href="/"><img src="img/logo-linkedin.svg" alt=""></a></li>
        </ul>
      </div>
      <div class="personal__card">
        <a href="/" class="link link-personal"></a>
        <div class="personal__img"><img src="img/staff-img4.png" alt=""></div>
        <div class="personal__name">
          <div class="title-4"><h4>Charlotte Levi</h4></div>
          <div class="description"><span>Design, Australia</span></div>
        </div>
        <ul class="media personal__links">
          <li><a href="/"><img src="img/logo-facebook.svg" alt=""></a></li>
          <li><a href="/"><img src="img/logo-twitter.svg" alt=""></a></li>
        </ul>
      </div>
      <div class="personal__card">
        <a href="/" class="link link-personal"></a>
        <div class="personal__img"><img src="img/staff-img3.png" alt=""></div>
        <div class="personal__name">
          <div class="title-4"><h4>Charlotte Levi</h4></div>
          <div class="description"><span>Design, Australia</span></div>
        </div>
        <ul class="media personal__links">
          <li><a href="/"><img src="img/logo-facebook.svg" alt=""></a></li>
          <li><a href="/"><img src="img/logo-twitter.svg" alt=""></a></li>
        </ul>
      </div>
      <div class="personal__card">
        <a href="/" class="link link-personal"></a>
        <div class="personal__img"><img src="img/staff-img5.png" alt=""></div>
        <div class="personal__name">
          <div class="title-4"><h4>Charlotte Levi</h4></div>
          <div class="description"><span>Design, Australia</span></div>
        </div>
        <ul class="media personal__links">
          <li><a href="/"><img src="img/logo-facebook.svg" alt=""></a></li>
          <li><a href="/"><img src="img/logo-twitter.svg" alt=""></a></li>
        </ul>
      </div>
      <div class="personal__card">
        <a href="/" class="link link-personal"></a>
        <div class="personal__img"><img src="img/staff-img6.png" alt=""></div>
        <div class="personal__name">
          <div class="title-4"><h4>Charlotte Levi</h4></div>
          <div class="description"><span>Design, Australia</span></div>
        </div>
        <ul class="media personal__links">
          <li><a href="/"><img src="img/logo-facebook.svg" alt=""></a></li>
          <li><a href="/"><img src="img/logo-twitter.svg" alt=""></a></li>
          <li><a href="/"><img src="img/logo-linkedin.svg" alt=""></a></li>
        </ul>
      </div>
      <div class="personal__card">
        <a href="/" class="link link-personal"></a>
        <div class="personal__img"><img src="img/staff-img7.png" alt=""></div>
        <div class="personal__name">
          <div class="title-4"><h4>Charlotte Levi</h4></div>
          <div class="description"><span>Design, Australia</span></div>
        </div>
        <ul class="media personal__links">
          <li><a href="/"><img src="img/logo-facebook.svg" alt=""></a></li>
          <li><a href="/"><img src="img/logo-twitter.svg" alt=""></a></li>
        </ul>
      </div>
      <div class="personal__card">
        <a href="/" class="link link-personal"></a>
        <div class="personal__img"><img src="img/staff-img8.png" alt=""></div>
        <div class="personal__name">
          <div class="title-4"><h4>Charlotte Levi</h4></div>
          <div class="description"><span>Design, Australia</span></div>
        </div>
        <ul class="media personal__links">
          <li><a href="/"><img src="img/logo-facebook.svg" alt=""></a></li>
          <li><a href="/"><img src="img/logo-twitter.svg" alt=""></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
