<section class="plans">
  <div class="container">
    <div class="plans__body">
      <div class="plans__card">
        <div class="title-4"><h4>Design advices</h4></div>
        <div class="title-4 plans__price"><h4>$<span>29</span><br>/month</h4></div>
        <ul>
          <li>General living space advices</li>
          <li>Renovation advices</li>
          <li>Interior design advices</li>
          <li>Furniture reorganization</li>
          <li>Up to 5 hours meetings</li>
        </ul>
        <a href="/" class="btn btn-clay plans__btn">Get Started <img src="img/btn-arrow-dark.svg" alt=""></a>
      </div>
      <div class="plans__card">
        <div class="title-4"><h4>Design advices</h4></div>
        <div class="title-4 plans__price plans__price-best"><h4>$<span>39</span><br>/month</h4>
          <div class="plans__popular">Most Popular Plans</div>
        </div>
        <ul>
          <li>Complete home redesign</li>
          <li>Interior and exterior works</li>
          <li>Modular interior planning</li>
          <li>Kitchen design</li>
          <li>Garages organization</li>
        </ul>
        <a href="/" class="btn plans__btn">Get Started <img src="img/btn-arrow-clay.svg" alt=""></a>
      </div>
      <div class="plans__card">
        <div class="title-4"><h4>Design advices</h4></div>
        <div class="title-4 plans__price"><h4>$<span>59</span><br>/month</h4></div>
        <ul>
          <li>Furniture for living room</li>
          <li>Furniture refurbishment</li>
          <li>Sofas and armchairs</li>
          <li>Tables and chairs</li>
          <li>Kitchens</li>
        </ul>
        <a href="/" class="btn btn-clay btn-clear plans__btn">Get Started <img src="img/btn-arrow-dark.svg" alt=""></a>
      </div>
    </div>
  </div>
</section>
