<section class="post">
  <div class="container">
    <div class="title-2"><h2>Latest Post</h2></div>
    <div class="post__body">
      <div class="post__img">
        <img src="img/post-img.png" alt="">
      </div>
      <div class="post__content">
        <div class="title-4"><h4>Low Cost Latest Invented Interior Designing Ideas</h4></div>
        <div class="description description-large post__description"><p>Lorem ipsum dolor sit amet, adipiscing Aliquam
          eu sem vitae turpis
          dignissim maximus.posuere in.Contrary to popular belief.
          <br>
          <br>
          Lorem Ipsum is not simply random text. It has roots in a piece of classica.</p></div>
        <div class="post__date">
          <span>26 December,2022 </span>
          <a href="/" class="post__arrow">
            <svg xmlns="http://www.w3.org/2000/svg" width="52" height="53" viewBox="0 0 52 53" fill="none">
              <path d="M23.771 32.9529L29.7139 26.2672L23.771 19.5815" stroke="#292F36" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
