<section class="projects">
  <div class="container">
    <div class="projects__start">
      <div class="title-2"><h2>Follow Our Projects</h2></div>
      <div class="description projects__description"><p>It is a long established fact that a reader will be distracted
        by the of readable
        content of page lookings at its layouts points.</p></div>
    </div>
    <div class="projects__body">
      <div class="projects__card">
        <a href="/" class="projects__link"></a>
        <div class="projects__img">
          <img src="img/projects-img1.png" alt="">
        </div>
        <div class="projects__text">
          <div class="projects__name">
            <div class="title-3"><h3>Modern Kitchen</h3></div>
            <span>Decor / Artchitecture</span>
          </div>
          <div class="projects__icon" href="/">
            <img src="img/arrow-link.svg" alt="">
          </div>
        </div>
      </div>
      <div class="projects__card">
        <a href="/" class="projects__link"></a>
        <div class="projects__img">
          <img src="img/projects-img2.png" alt="">
        </div>
        <div class="projects__text">
          <div class="projects__name">
            <div class="title-3"><h3>Modern Kitchen</h3></div>
            <span>Decor / Artchitecture</span>
          </div>
          <div class="projects__icon" href="/">
            <img src="img/arrow-link.svg" alt="">
          </div>
        </div>
      </div>
      <div class="projects__card">
        <a href="/" class="projects__link"></a>
        <div class="projects__img">
          <img src="img/projects-img3.png" alt="">
        </div>
        <div class="projects__text">
          <div class="projects__name">
            <div class="title-3"><h3>Modern Kitchen</h3></div>
            <span>Decor / Artchitecture</span>
          </div>
          <div class="projects__icon" href="/">
            <img src="img/arrow-link.svg" alt="">
          </div>
        </div>
      </div>
      <div class="projects__card">
        <a href="/" class="projects__link"></a>
        <div class="projects__img">
          <img src="img/projects-img4.png" alt="">
        </div>
        <div class="projects__text">
          <div class="projects__name">
            <div class="title-3"><h3>Modern Kitchen</h3></div>
            <span>Decor / Artchitecture</span>
          </div>
          <div class="projects__icon" href="/">
            <img src="img/arrow-link.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
