<section class="quote">
  <div class="container">
    <div class="quote__body">
      <div class="quote__patterns">
        <div class="quote__pattern"><img src="img/quote-pattern-l.svg" alt=""></div>
        <div class="quote__pattern"><img src="img/quote-pattern-l.svg" alt=""></div>
      </div>
      <div class="quote__img"><img src="img/paws.svg" alt=""></div>
      <div class="title-3 quote__title style-italic"><h3>I like an interior that defies labeling. I don't really want
        someone to
        walk
        into a room
        and know that I did it</h3></div>
      <div class="short quote__short">-BUNNY WILLIAMS</div>
    </div>
  </div>
</section>
