<section class="staff">
  <div class="container">
    <div class="title-2 staff__title"><h2>What the People Thinks About Us</h2></div>
    <div class="staff__body">
      <div class="staff__card">
        <div class="staff__img"><img src="img/staff-img1.png" alt=""></div>
        <div class="staff__content">
          <div class="staff__name">
            <div class="title-3"><h3>Nattasha Julie</h3></div>
            <div class="description description-small"><p>Design, Australia</p></div>
          </div>
          <ul class="media staff__media">
            <li><a href="/"><img src="img/logo-facebook.svg" alt=""></a></li>
            <li><a href="/"><img src="img/logo-twitter.svg" alt=""></a></li>
            <li><a href="/"><img src="img/logo-linkedin.svg" alt=""></a></li>
            <li><a href="/"><img src="img/logo-instagram.svg" alt=""></a></li>
          </ul>
          <div class="description description-small">
            <a href="tel:+1 (378) 400-1234">+1 (378) 400-1234</a><a
            href="malito:julie@email.com">julie@email.com</a>
          </div>
        </div>
      </div>
      <div class="staff__card">
        <div class="staff__img"><img src="img/staff-img2.png" alt=""></div>
        <div class="staff__content">
          <div class="staff__name">
            <div class="title-3"><h3>Nattasha Julie</h3></div>
            <div class="description description-small"><p>Design, Australia</p></div>
          </div>
          <ul class="media staff__media">
            <li><a href="/"><img src="img/logo-facebook.svg" alt=""></a></li>
            <li><a href="/"><img src="img/logo-twitter.svg" alt=""></a></li>
            <li><a href="/"><img src="img/logo-linkedin.svg" alt=""></a></li>
            <li><a href="/"><img src="img/logo-instagram.svg" alt=""></a></li>
          </ul>
          <div class="description description-small">
            <a href="tel:+1 (378) 400-1234">+1 (378) 400-1234</a><a
            href="malito:julie@email.com">julie@email.com</a>
          </div>
        </div>
      </div>
      <div class="staff__card">
        <div class="staff__img"><img src="img/staff-img1.png" alt=""></div>
        <div class="staff__content">
          <div class="staff__name">
            <div class="title-3"><h3>Nattasha Julie</h3></div>
            <div class="description description-small"><p>Design, Australia</p></div>
          </div>
          <ul class="media staff__media">
            <li><a href="/"><img src="img/logo-facebook.svg" alt=""></a></li>
            <li><a href="/"><img src="img/logo-twitter.svg" alt=""></a></li>
            <li><a href="/"><img src="img/logo-linkedin.svg" alt=""></a></li>
            <li><a href="/"><img src="img/logo-instagram.svg" alt=""></a></li>
          </ul>
          <div class="description description-small">
            <a href="tel:+1 (378) 400-1234">+1 (378) 400-1234</a><a
            href="malito:julie@email.com">julie@email.com</a>
          </div>
        </div>
      </div>
      <div class="staff__card">
        <div class="staff__img"><img src="img/staff-img3.png" alt=""></div>
        <div class="staff__content">
          <div class="staff__name">
            <div class="title-3"><h3>Nattasha Julie</h3></div>
            <div class="description description-small"><p>Design, Australia</p></div>
          </div>
          <ul class="media staff__media">
            <li><a href="/"><img src="img/logo-facebook.svg" alt=""></a></li>
            <li><a href="/"><img src="img/logo-twitter.svg" alt=""></a></li>
            <li><a href="/"><img src="img/logo-linkedin.svg" alt=""></a></li>
            <li><a href="/"><img src="img/logo-instagram.svg" alt=""></a></li>
          </ul>
          <div class="description description-small">
            <a href="tel:+1 (378) 400-1234">+1 (378) 400-1234</a><a
            href="malito:julie@email.com">julie@email.com</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
