<div class="stats">
  <div class="container">
    <ul class="stats__body">
      <li class="stats__block">
        <span>12</span>
        <div class="description"><p>Years Of Experience</p></div>
      </li>
      <li class="stats__block">
        <span>85</span>
        <div class="description"><p>Success Projects</p></div>
      </li>
      <li class="stats__block">
        <span>15</span>
        <div class="description"><p>Active Projects</p></div>
      </li>
      <li class="stats__block">
        <span>95</span>
        <div class="description"><p>Happy Customers</p></div>
      </li>
    </ul>
  </div>
</div>
