<section class="we-do">
  <div class="container">
    <div class="we-do__body">
      <div class="we-do__block">
        <div class="we-do__content">
          <div class="title-2"><h2>What We Do</h2></div>
          <div class="description description-large we-do__description"><p>It is a long established fact that a reader
            will be distracted
            by the of
            readable
            content of a page when lookings at its layouts the points of using that it has a more-or-less normal.</p>
          </div>
          <a href="/" class="btn btn-hover btn-small">Our Concept <img src="img/btn-arrow-clay.svg" alt=""></a>
        </div>
        <div class="we-do__img"><img src="img/do-img1.png" alt=""></div>
      </div>
      <div class="we-do__block">
        <div class="we-do__content">
          <div class="title-2"><h2>What We Do</h2></div>
          <div class="description description-large we-do__description"><p>It is a long established fact that a reader
            will be distracted
            by the of
            readable
            content of a page when lookings at its layouts the points of using that it has a more-or-less normal.</p>
          </div>
          <a href="/" class="btn btn-hover btn-small">Our Concept <img src="img/btn-arrow-clay.svg" alt=""></a>
        </div>
        <div class="we-do__img"><img src="img/do-img2.png" alt=""></div>
      </div>
    </div>
  </div>
</section>
