<section class="work">
  <div class="container">
    <div class="work__body quotes">
      <div class="caption work__heading">
        <div class="title-2"><h2>How We Work</h2></div>
        <div class="description">It is a long established fact will be distracted.Lorem Ipsum is simply
          dummy
          text of
          the printing and typesetting industry.
        </div>
      </div>
      <div class="work__info">
        <div class="work__block">
          <div class="work__img">
            <img src="img/work-img1.png" alt="">
          </div>
          <div class="work__text">
            <div class="work__number"><img src="img/work-svg1.svg" alt=""><span>01</span></div>
            <div class="title-3"><h3>Concept & Details</h3></div>
            <div class="description description-large"><p>It is a long established fact will be distracted.
              Lorem Ipsum is simply dummy from text of the
              and typesetting industry.</p></div>
          </div>
        </div>
        <div class="work__block">
          <div class="work__img">
            <img src="img/work-img2.png" alt="">
          </div>
          <div class="work__text">
            <div class="work__number"><img src="img/work-svg2.svg" alt=""><span>02</span></div>
            <div class="title-3"><h3>Concept & Details</h3></div>
            <div class="description description-large"><p>It is a long established fact will be distracted.
              Lorem Ipsum is simply dummy from text of the
              and typesetting industry.</p></div>
          </div>
        </div>
        <div class="work__block">
          <div class="work__img">
            <img src="img/work-img3.png" alt="">
          </div>
          <div class="work__text">
            <div class="work__number"><img src="img/work-svg3.svg" alt=""><span>03</span></div>
            <div class="title-3"><h3>Concept & Details</h3></div>
            <div class="description description-large"><p>It is a long established fact will be distracted.
              Lorem Ipsum is simply dummy from text of the
              and typesetting industry.</p></div>
          </div>
        </div>
        <div class="work__block">
          <div class="work__img">
            <img src="img/work-img4.png" alt="">
          </div>
          <div class="work__text">
            <div class="work__number"><img src="img/work-svg4.svg" alt=""><span>04</span></div>
            <div class="title-3"><h3>Concept & Details</h3></div>
            <div class="description description-large"><p>It is a long established fact will be distracted.
              Lorem Ipsum is simply dummy from text of the
              and typesetting industry.</p></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
