// если вы хотите использовать sass-переменные - удалите root
// colors
:root {

  // colors
  --white: #fff;
  --black: #111;
  --clay: #CDA274;
  --grey: #4D5053;
  --dark-blue: #292F36;
  --bone: #F4F0EC;
  --hover-transition: .3s ease-in-out;
}
